<app-breadcrumb [pageName]="'myCart'"></app-breadcrumb>

<h3 style="color: white" *ngIf="cart?.cartType == 'INDIVIDUALCART'">My Cart</h3>

<div style="width: 95%">
  <div *ngIf="showMessage && error == false" class="boxSuccessMessage">
    {{ errorMessage }}
  </div>

  <div *ngIf="showMessage && error == true" class="boxErrorMessage">
    {{ errorMessage }}
  </div>

  <br />
</div>

<div class="garmentCard dataHeader">
  <div
    style="
      display: flex;
      flex: 4;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <h2 style="color: white">
      Start Making a Change, shop at Garment Gardens! 🌱
    </h2>
    <table>
      <tr>
        <td>
          <h3 class="product-price">Total Cart Items</h3>
          <h3 style="color: white">
            {{ totalCartItems }}
          </h3>
        </td>
        <td>
          <h3 class="product-price">Total Quantity</h3>
          <h3 style="color: white">
            {{ totalQuantity }}
          </h3>
        </td>
        <td>
          <h3 class="product-price">Total Amount</h3>
          <h3 style="color: white">
            ${{ totalAmount | number:'1.2-2'  }}
          </h3>
        </td>
      </tr>
    </table>
  </div>

  <div class="checkout" style="flex: 1">
    <table>
      <tr>
        <td>
          <h3>Promo Code</h3>
          <input
            pInputText
            placeholder="GARMENTGARDENS"
            id="selectCode"
            type="text"
            name="selectCode"
            #selectCode="ngModel"
            [(ngModel)]="promoCode"
            required="true"
            class="glow"
          />
        </td>
      </tr>
      <tr>
        <td>
          <h3>Payment Method</h3>

          <p-dropdown
            id="selectPayment"
            type="text"
            name="selectPayment"
            #selectPayment="ngModel"
            [required]="true"
            class="glow"
            placeholder="Select Payment Method"
            [options]="paymentMethods"
            [(ngModel)]="paymentMethod"
          ></p-dropdown>
        </td>
      </tr>
      <tr>
        <td>
          <button
            pButton
            label="Checkout"
            type="button"
            class="p-button"
            (click)="confirmCheckout()"
            style="margin: 10px"
          ></button>
        </td>
      </tr>
    </table>
  </div>
</div>

<br />

<div class="garmentCard">
  <p-dataView
    #dv
    [value]="lineItems"
    [paginator]="true"
    [rows]="9"
    filterBy="product.name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
  >
    <ng-template pTemplate="header">
      <div class="dataHeader">
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort By"
          (onChange)="onSortChange($event)"
          [style]="{ 'min-width': '15em' }"
          class="glow"
        >
        </p-dropdown>
        <span>
          <i class="pi pi-search"></i>
          &nbsp;
          <input
            class="glow"
            type="search"
            pInputText
            placeholder="Search by Name"
            (input)="dv.filter($any($event.target).value, 'contains')"
          />
        </span>
      </div>
    </ng-template>

    <ng-template let-lineItem pTemplate="listItem">
      <div class="product-list-item glow">
        <img class="img" src="{{ lineItem.product.imageLink }}" />
        <div class="product-list-detail">
          <div class="product-name">{{ lineItem.product.name }}</div>
        </div>
        &nbsp;
        <div class="product-list-action">
          <span class="product-price">Quantity</span>
          <span class="product-price-2">{{ lineItem.quantity }}</span>
        </div>
        &nbsp;
        <div class="product-list-action">
          <span class="product-price">Unit Price</span>
          <span class="product-price-2">${{ lineItem.unitPrice | number:'1.2-2' }}</span>
        </div>
        &nbsp;
        <div class="product-list-action">
          <span class="product-price">Sub Total</span>
          <span class="product-price-2">${{ lineItem.subTotal | number:'1.2-2'}}</span>
        </div>
        <div>
          <button
            pButton
            label="Remove"
            type="button"
            class="p-button-danger"
            (click)="removeLineItem(lineItem)"
            style="margin: 10px"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<div class="garmentCard">
  <button
    pButton
    label="Clear Cart"
    type="button"
    class="p-button-danger"
    (click)="clearCart()"
    style="margin: 10px"
  ></button>
</div>

<p-dialog
  header="Checkout"
  position="middle"
  [(visible)]="checkoutDialogue"
  [style]="{ width: '50vw' }"
>
  <div style="text-align: center">
    <h1>Confirm Checkout</h1>

    <div class="garmentCard" style="width: 100%">
      <form
        #checkoutForm="ngForm"
        (ngSubmit)="confirmCheckout()"
        class=""
        checkoutForm
      >
        <div style="display: inline-flex">
          <h1 style="color: white; margin: 15px">
            Total Amount
            <h2>{{ totalAmount }}</h2>
          </h1>
          <h1 style="color: white; margin: 15px">
            With Delivery
            <h2 style="font-size: large; color: red;" *ngIf="totalAmount < deliveryAmount">+ {{deliveryAmount - totalAmount}} </h2>
            <h2 style="font-size: large; color: red;" *ngIf="totalAmount == deliveryAmount">(Free Delivery!)</h2>

            <h2>{{ deliveryAmount | number:'1.2-2' }}
            </h2>
          </h1>

          <h1 style="color: white; margin: 15px">
            After Promo
            <h2 style="font-size: large; color: yellow;" *ngIf="promoAmount < deliveryAmount">- {{deliveryAmount - promoAmount}} </h2>
            <h2>{{ promoAmount | number:'1.2-2' }}</h2>
          </h1>
        </div>

        <h1 style="color: white">
          Chlorophyll Earned:
          <h2>{{ promoAmount | number:'1.2-2' }}</h2>
        </h1>
        <h1 style="color: white">
          Payment Payment:
          <h2>{{ paymentMethod }}</h2>
        </h1>

        <br />
        <div style="padding: 25px 0px 5px 0px" style="text-align: center">
          <div>
            <button
              pButton
              label="Confirm"
              type="button"
              class="p-button"
              (click)="checkout()"
              style="margin: 10px"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
