<header>
  <div>
    <p-menubar styleClass="navbar">
      <ng-template pTemplate="start">
        <a href="#" routerLink="/">
          <img src="/images/garmentlogo.jpg" width="100%" height="100%" />
        </a>
        <h2>Welcome to Garment Gardens</h2>
      </ng-template>
      <div *ngIf="sessionService.getIsLogin() == false">
        <input
          pInputText
          placeholder="Username"
          type="text"
          [(ngModel)]="username"
          size="16"
          required
          maxlength="32"
        />
        &nbsp;
        <input
          pInputText
          placeholder="password"
          type="password"
          [(ngModel)]="password"
          size="16"
          required
          maxlength="32"
        />
        &nbsp;
        <button
          pButton
          type="reset"
          value="Clear"
          class="p-button-rounded p-button-text"
        >
          Clear
        </button>
        &nbsp;
        <button
          pButton
          type="button"
          (click)="staffLogin()"
          class="p-button-rounded p-button-text"
          value="Login"
        >
          Login
        </button>
      </div>
      <div *ngIf="sessionService.getIsLogin() == true">
        You are login as {{ sessionService.getCurrentStaff().firstName }}
        {{ sessionService.getCurrentStaff().lastName }}
        (Access Right:
        <span *ngIf="sessionService.getCurrentStaff().accessRightEnum == 0"
          >CASHIER</span
        >
        <span *ngIf="sessionService.getCurrentStaff().accessRightEnum == 1"
          >MANAGER</span
        >)
        <input type="button" (click)="staffLogout()" value="Logout" />
      </div>
    </p-menubar>
  </div>
</header>
