<header>
  <div>
    <p-menubar styleClass="navbar">
      <ng-template pTemplate="start">
        <a href="#" routerLink="/">
          <img src="assets/images/gg-brandlogo-glow.png" width="20%" height="20%" />
        </a>
      </ng-template>
      <div *ngIf="sessionService.getIsLogin() == false">
        <input pInputText placeholder="Username" type="text" [(ngModel)]="username" size="16" required maxlength="32" />
        &nbsp;
        <input pInputText placeholder="password" type="password" [(ngModel)]="password" size="16" required
          maxlength="32" />
        &nbsp;
        <button pButton type="reset" value="Clear" class="p-button-rounded p-button-text">
          Clear
        </button>
        &nbsp;
        <button pButton type="button" (click)="userLogin()" class="p-button-rounded p-button-text" value="Login">
          Login
        </button>
      </div>

      <div *ngIf="loginError == true" style="text-align: right; color: red;">
        Invalid login credential: Username does not exist or invalid password!
      </div>

      <div *ngIf="sessionService.getIsLogin() == true">
        You are login as {{ sessionService.getCurrentUser().firstName }}
        {{ sessionService.getCurrentUser().lastName }}
        (Access Right:
        <span *ngIf="sessionService.getCurrentUser().roleEnum == 0">CASHIER</span>
        <span *ngIf="sessionService.getCurrentUser().roleEnum == 1">MANAGER</span>)
        <input type="button" (click)="userLogout()" value="Logout" />
      </div>
    </p-menubar>
  </div>
</header>