
<app-breadcrumb [pageName]="'myRewards'"></app-breadcrumb>

<h3 style="color: white;">My Rewards</h3>
<div class="allrewards">
  <p-dataView 
  #dv
  [value]="rewards"
  [paginator]="true"
  [rows]="9"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  >
    <ng-template pTemplate="header">
      <div class="dataHeader">
        <p-dropdown
        [options]="sortOptions"
        [(ngModel)]="sortKey"
        placeholder="Sort By"
        (onChange)="onSortChange($event)"
        [style]="{'min-width': '15em' }"
        class="glow">
        </p-dropdown>
        <span>
          <i class="pi pi-search"></i>
          &nbsp;
          <input
          class="glow"
          type="search"
          pInputText
          placeholder="Search by Name"
          (input)="dv.filter($any($event.target).value, 'contains')"
        />
        </span>
      </div>
      <p-dataViewLayoutOptions
      style="width: 100%; text-align: center">
      </p-dataViewLayoutOptions>
    </ng-template>

    <ng-template let-reward pTemplate="listItem">
      <div
        class="reward-list-item glow"
        (click)="showDialog(reward)"
        style="cursor: pointer"
      >
        <img class="img" src="../../../assets/promoCode.png"/>
        <div class="reward-list-detail">
          <div class="reward-name">{{reward.rewardName.split(' ')[0]}}</div>
          <div class="reward-name garmentGreen">{{reward.rewardName.split(' ')[1]}}</div>
          <div class="reward-description"> Use By: {{parseDate(reward.expiryDate) | date}}</div>
          <div class="reward-grid-item-bottom">
            <span class="reward-price" style="margin: 0 auto;">Discount value: ${{ reward.rewardName.substring(9,12) }}</span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template let-reward pTemplate="gridItem">
      <div
        [ngClass]="{'reward-grid-item': true ,
                    'card': true,
                    'glow': true}"
        (click)="showDialog(reward)"
        style="cursor: pointer"
      >
        <div class="reward-grid-item-top">
          <div>

            <!-- <span class="reward-category">{{ reward.rewardName }}</span> -->
          </div>
        </div>
        <div class="reward-grid-item-content">
          <img class="img" src="../../../assets/promoCode.png" />
          <div class="reward-name">{{ reward.rewardName }}</div>
          <div class="reward-description">Use By: {{ parseDate(reward.expiryDate) | date }}</div>
        </div>
        <div class="reward-grid-item-bottom">
          <span class="reward-price" style="margin: 0 auto;">Discount value: ${{ reward.rewardName.substring(9,12) }}</span>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  <p-dialog
    *ngIf="display"
    header="View Reward Details"
    [(visible)]="display"
    [style]="{ width: '50vw' }"
    [modal]="true"
    [resizable]="false"
  >
    <div style="display: inline-block">
      <span>
        <h1 style="font-size: 40px">
          {{ rewardToView.rewardName }}
        </h1>
        <div *ngIf="displayCopyClipboard == true" style="color: green;">
          <h4>{{displayCopyClipboardMessage}}</h4>
        </div>
        <!-- <p-button
        label="Use Reward"
        (onClick)="useReward(rewardToView)" pButton
      ></p-button> -->
      </span>

      <table width="100%" [cellSpacing]="20">
        <tr>
          <td style="width: 30%">
            <h3>Reward ID: {{ rewardToView.rewardId }}</h3>
            <h3>Reward Name:{{ rewardToView.rewardName }}</h3>
            <img
              style="border-radius: 15px; margin: 20px"
              src="../../../assets/promoCode.png"
            />
          </td>
          <div style="text-align: right">
            <h3>Description:</h3>
            <p>{{ parseDate(rewardToView.expiryDate) | date }}</p>
          </div>
          <div style="text-align: right">
            <h3>PromoCode:</h3>
            <p>{{ rewardToView.promoCode }}</p>
            <p-button class="btn btn-default" type="button" (onClick)="copyToClipboard()" ngxClipboard [(ngModel)]="displayCopyClipboard" [cbContent]="rewardToView.promoCode" label="Copy To Clipboard"></p-button>
          </div>
        </tr>
      </table>

    </div>
  </p-dialog>
</div>