<app-breadcrumb [pageName]="'deleteProduct'"></app-breadcrumb>
			
<h3>Delete Product</h3>
<br/>
    
<div *ngIf="error == true" style="color: red;">
    {{errorMessage}}
</div>

<div *ngIf="error == false">
    <a routerLink="/systemAdministration/viewProductDetails/{{productToDelete.productId}}">Back</a>
</div>
<br/>	

<table *ngIf="error == false" width="100%">
    <tr>
        <td width="20%" style="font-weight: bold;">Product ID</td>
        <td>{{productToDelete.productId}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">SKU Code</td>
        <td>{{productToDelete.skuCode}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">Name</td>
        <td>{{productToDelete.name}}</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">					
            <button (click)="deleteProduct()">Delete</button>
        </td>
    </tr>
    
</table>