<br />
<div class="garmentCard">
    <p-card class="contentBox" header="Every Contribution counts">
        The donations that we receive are put into fundraising activites and non-profit events targeted at raising
        awareness of sustainable fashion. The financial contributions are documented in our annual balance sheet.We also
        automatically enroll all our donors into our annual lucky draw,
        in an effort to recognise their contributions.
    </p-card>
</div>

<br />

<div class="garmentCard">
    <p-splitter [style]="{'height': '300px'}" [panelSizes]="[75,25]">
        <ng-template pTemplate>
            <p-card class="contentBox" header="Payment Channels">
                POSB: 3234-5545-456
                <br />
                <br />
                UOB: 5776-8746-764
                <br />
                <br />
                OCBC: 6756-7764-4523
                <br />
                <br />
                Paynow/PayLah: +65 9653 6546
                <br />
                OR scan the QR code provided
            </p-card>
        </ng-template>
        <ng-template pTemplate>
            <img src="assets/images/qrCode.png" height="100%" width="100%" alt="Advertisement 3" />
        </ng-template>
    </p-splitter>
</div>

<br />
<br />

<div class="imgBox">
    <img class="glow" src="assets/images/infographic.png" height="100%" width="100%" alt="Advertisement 3" />
</div>