<app-breadcrumb [pageName]="'viewAllProducts'"></app-breadcrumb>

<h3>View All Products > View All Headwears </h3>
<br />

<div class="card">

        <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
            [sortOrder]="sortOrder" layout="grid">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)"
                        styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Search by Name" >
                    </span>
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </ng-template>

            <ng-template pTemplate="gridItem" let-product>
                <div class="p-col-12 p-md-4">
                    <div class="product-grid-item card">
                        <div class="product-grid-item-top">
                            <div>
                                <i class="pi pi-tag product-category-icon"></i>
                                <span class="product-category">{{product.category.name}}</span>
                            </div>
                        </div>
                        <div class="product-grid-item-content">
                            <div><img src="{{product.imageLink}}" /></div>
                            <div class="product-name">{{product.name}}</div>
                            
                        </div>
                        <div class="product-grid-item-bottom">
                            <span class="product-price">${{product.unitPrice}}</span>
                            &nbsp;
                            <p-button label="View" (onClick)="showDialog(product)"></p-button>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
</div>




<p-dialog *ngIf="display" header="View Product Details" [(visible)]="display" [style]="{width: '50vw'}">
    <div class="ui-g">
        <div class="ui-g-6" >Product ID</div>
        <div class="ui-g-6">{{productToView.productId}}</div>
    </div>
    &nbsp;
    <div class="ui-g">
        <div class="ui-g-6" >SKU Code</div>
        <div class="ui-g-6">{{productToView.skuCode}}</div>
    </div>
    &nbsp;
    <div class="ui-g">
        <div class="ui-g-6" >Name</div>
        <div class="ui-g-6">{{productToView.name}}</div>
    </div>
    &nbsp;
    <div class="ui-g">
        <div class="ui-g-6" >Description</div>
        <div class="ui-g-6">{{productToView.description}}</div>
    </div>
    &nbsp;
    <div class="ui-g">
        <div class="ui-g-6" >Quantity On Hand</div>
        <div class="ui-g-6">{{productToView.quantityOnHand}}</div>
    </div>
    &nbsp;
    <div class="ui-g">
        <div class="ui-g-6" >Unit Price</div>
        <div class="ui-g-6">{{productToView.unitPrice | currency}}</div>
    </div>
    &nbsp;
    <div class="ui-g">
        <div class="ui-g-6" >Category</div>
        <div class="ui-g-6">{{(productToView.category != null)?(productToView.category.name):('')}}</div>
    </div>
    &nbsp;
    <div class="ui-g">
        <div class="ui-g-6" >Tag(s)</div>
        <div class="ui-g-6">
            <ul style="margin-left: 20px;">
                <li *ngFor="let tag of productToView.tags">{{tag.name}}</li>
            </ul>
        </div>
    </div>
    <tr>
        <td width="50%" style="font-weight: bold;">Quantity</td>
        <td>
            <input pInputText placeholder="1" id="username" type="text" name="username" #username="ngModel"
                    [(ngModel)]="dummyValue" required="true" />
        </td>
        &nbsp;
        <td>
            <p-button icon="pi pi-shopping-cart" label="Add To Cart" (onClick)="addToCart(productToView)">
                                
            </p-button>
        </td>
    </tr>
</p-dialog>
