<ng-template pRipple [ngIf]="sessionService.getIsLogin() == false">
  <p-menubar [model]="restrictedMenu">
    <div class="searchBar">
      <input styletype="text" pInputText placeholder="Search" />
      <button pButton icon="pi pi-search"></button>
    </div>
  </p-menubar>
</ng-template>
<!-- <h1>current Date {{date}}</h1>
<h1>flashSale {{flashSaleDate}}</h1> -->

<!-- dontshowFlash -->
<app-flashsales *ngIf="date < flashSaleDate" style="text-align:center"></app-flashsales>

<!-- showflash -->
<!-- <app-flashsales *ngIf="date > flashSaleDate" style="text-align:center"></app-flashsales> -->
<ng-template pRipple [ngIf]="sessionService.getIsLogin() == true">
  <span *ngIf="sessionService.getCurrentUser().role === 'CUSTOMER'">
    <p-menubar  [model]="menuCustomer">
      <button pButton label="Sizing Assistant" style="display: inline;" (click)="showDialog()"></button>
      <div class="searchBar" style="display: inline;">
        <input type="text" pInputText placeholder="Search" />
        <button pButton icon="pi pi-search"></button>
      </div>
    </p-menubar>
    <p-dialog header="Sizing Assistant" [(visible)]="display">
        <app-sizing-assistant></app-sizing-assistant>
    </p-dialog>
  </span>
  <span *ngIf="sessionService.getCurrentUser().role === 'SELLER'">
    <p-menubar  [model]="menuSeller">
      <p-dialog header="Sizing Assistant" [(visible)]="display">
        <app-sizing-assistant></app-sizing-assistant>
    </p-dialog>
      <div class="searchBar">
        <input type="text" pInputText placeholder="Search" />
        <button pButton icon="pi pi-search"></button>
      </div>
    </p-menubar>
  </span>
</ng-template>
