<ng-template [ngIf]="sessionService.getIsLogin() == false">
  <p-menubar [model]="restrictedMenu">
    <div class="searchBar">
      <input styletype="text" pInputText placeholder="Search" />
      <button pButton icon="pi pi-search"></button>
    </div>
  </p-menubar>
</ng-template>

<ng-template [ngIf]="sessionService.getIsLogin() == true">
  <span *ngIf="sessionService.getCurrentUser().role == 'CUSTOMER'">
    <p-menubar  [model]="menuCustomer">
      <div class="searchBar">
        <input type="text" pInputText placeholder="Search" />
        <button pButton icon="pi pi-search"></button>
      </div>
    </p-menubar>
  </span>
  <span *ngIf="sessionService.getCurrentUser().role == 'SELLER'">
    <p-menubar  [model]="menuSeller">
      <div class="searchBar">
        <input type="text" pInputText placeholder="Search" />
        <button pButton icon="pi pi-search"></button>
      </div>
    </p-menubar>
  </span>
</ng-template>
