 <ng-template [ngIf]="sessionService.getIsLogin() == true">
    <p-menubar [model]="items">
        <a routerLink="/systemAdministration/viewAllProductsPf">View All Products (PF)</a>
        <a routerLink="/systemAdministration/createNewProduct">Create New Product</a>
        <input type="text" pInputText placeholder="Search" />
        <button pButton icon="pi pi-search"></button>
    </p-menubar>

    

    <!-- <h4 class="menuHeader1">Cashier Operation</h4>
    <ul class="secondaryMenu">
      <li><a routerLink="/cashierOperation/checkout">Checkout</a></li>
      <li><a routerLink="/cashierOperation/voidRefund">Void/Refund</a></li>
      <li>
        <a routerLink="/cashierOperation/viewMySaleTransactions"
          >View My Sale Transactions</a
        >
      </li>
    </ul>
    <br />
    <h4 class="menuHeader1">System Administration</h4>
    <h5 class="menuHeader2">Staff</h5>
    <ul class="secondaryMenu">
      <li>
        <a routerLink="/systemAdministration/createNewStaff"
          >Create New Staff</a
        >
      </li>
      <li>
        <a routerLink="/systemAdministration/viewAllStaffs">View All Staffs</a>
      </li>
    </ul>
    <h5 class="menuHeader2">Product</h5>
    <ul class="secondaryMenu">
      <li>
        <a routerLink="/systemAdministration/createNewProduct"
          >Create New Product</a
        >
      </li>
      <li>
        <a routerLink="/systemAdministration/viewAllProducts"
          >View All Products</a
        >
      </li>
      <li>
        <a routerLink="/systemAdministration/viewAllProductsPf"
          >View All Products (PF)</a
        >
      </li>
    </ul>
    <br /><br /> -->
  </ng-template>
