<app-breadcrumb [pageName]="'viewAllProducts'"></app-breadcrumb>

<h3>All Products</h3>
<br/>

<p-panel header="All Products">
	
    <p-table [value]="products">
        <ng-template pTemplate="header">
            <tr>
                <th>SKU Code</th>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity on Hand</th>
                <th>Unit Price</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.skuCode}}</td>
                <td>{{product.productId}}</td>				
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td class="cellnumber">{{product.quantityOnHand}}</td>
                <td class="cellnumber">{{product.unitPrice | currency}}</td>
                <td>{{product.categoryEntity.name}}</td>
                <td><p-button label="View" (onClick)="showDialog(product)"></p-button></td>
            </tr>
        </ng-template>
    </p-table>
    
    <p-dialog *ngIf="display" header="View Product Details" [(visible)]="display" [style]="{width: '50vw'}">
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Product ID</div>
            <div class="ui-g-6">{{productToView.productId}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">SKU Code</div>
            <div class="ui-g-6">{{productToView.skuCode}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Name</div>
            <div class="ui-g-6">{{productToView.name}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Description</div>
            <div class="ui-g-6">{{productToView.description}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Quantity On Hand</div>
            <div class="ui-g-6">{{productToView.quantityOnHand}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Unit Price</div>
            <div class="ui-g-6">{{productToView.unitPrice | currency}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Category</div>
            <div class="ui-g-6">{{(productToView.category != null)?(productToView.category.name):('')}}</div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6" style="background-color: #f4f4f4;">Tag(s)</div>
            <div class="ui-g-6">
                <ul style="margin-left: 20px;">
                    <li *ngFor="let tag of productToView.tags">{{tag.name}}</li>
                </ul>
            </div>
        </div>
    </p-dialog>
</p-panel>