<div id="top" style="text-align:center;">
    <h1>See Your Personalised Size Recommendation</h1>
    <h3>Enter Your Height and Weight below</h3>

  <div>
    <b>Gender: </b>
    <p-dropdown [autoDisplayFirst]="false" placeholder="Select your Gender" [options]="genderOptions"   [(ngModel)]="gender">
      <label for="dropdown">Dropdown</label>
    </p-dropdown>
  </div>
  &nbsp;
  <div>
    <b>Fit: </b>
    <p-dropdown [autoDisplayFirst]="false" placeholder="Select your Fit" [options]="fitOptions"   [(ngModel)]="fit"></p-dropdown>
  </div>
  &nbsp;
  <div id="bottom">
    <div>
      <b>Height: </b> 
      <input type="text" pInputText [(ngModel)] ="height"  >
      <span >cm</span>
      <p-slider style="margin: 15px; display: flex; justify-content: center;" [(ngModel)]="height" orientation="vertical" [step]="0.1" [min]="50" [max]="200"></p-slider>
    </div>
    <div style="margin: 20px">
        <b>Weight: </b> 
        <input type="text" pInputText [(ngModel)] ="weight"  >
        <span>kg</span>
        <p-knob style="display:flex; justify-content:center"[(ngModel)]="weight" [min]="20" [step]="0.1" [max]="200"></p-knob>
      </div>
    <div >
      <button label="Generate Size" pButton (click)="generateSize()"></button>
    </div>
    <div *ngIf="displaySize == true">
      Your recommended size is {{recommendedSize}}
    </div>
    
  </div>
</div>