<aside class="sidebar">
    <div class="garmentCard myCartTab" style="width: 100%" (click)="goToCart()" style="cursor: pointer;">
      <i class="pi pi-shopping-cart" style="font-size: 2rem; color: white"></i>
    </div>

  <br />

  <a href="https://savetheearth.org/">
    <figure class="advertisement">
      <img
        src="assets/images/ad{{ ads[0] }}.png"
        height="100%"
        width="100%"
        alt="Advertisement 1"
      />
    </figure>
  </a>

  <br />
  <a href="https://savetheearth.org/">
    <figure class="advertisement">
      <img
        src="assets/images/ad{{ ads[1] }}.png"
        height="100%"
        width="100%"
        alt="Advertisement 1"
      />
    </figure>
  </a>

  <br />
  <a href="https://savetheearth.org/">
    <figure class="advertisement">
      <img
        src="assets/images/ad{{ ads[2] }}.png"
        height="100%"
        width="100%"
        alt="Advertisement 3"
      />
    </figure>
  </a>
</aside>


<p-dialog
  position="top"
  [(visible)]="loginDialogue"
  [style]="{ width: '50vw' }"
>
  <h1 style="color: red">Please Login!</h1>
</p-dialog>
