<app-breadcrumb [pageName]="'myTransactions'"></app-breadcrumb>

<h3 style="color: white">My Orders</h3>

<div style="width: 95%">
  <div *ngIf="showMessage && error == false" class="boxSuccessMessage">
    {{ errorMessage }}
  </div>

  <div *ngIf="showMessage && error == true" class="boxErrorMessage">
    {{ errorMessage }}
  </div>
</div>

<div class="garmentCard dataHeader">
  <div
    style="display: flex; flex: 4; align-items: center; justify-content: center"
  >
    <table>
      <tr>
        <td>
          <h3 class="product-price">Lifetime Orders</h3>
          <h3 style="color: white">{{ orders?.length }}</h3>
        </td>
        <td>
          <h3 class="product-price">Lifetime Spendings</h3>
          <h3 style="color: white">${{ lifetimeSpendings }}</h3>
        </td>
      </tr>
    </table>
  </div>
</div>

<br />
<!-- <div class="garmentCard">
  <p-dataView
    #dv
    [value]="orders"
    [paginator]="true"
    [rows]="9"
    filterBy="lineItem.lineItemId"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
  > -->
<!-- <ng-template pTemplate="header">
      <div class="dataHeader">
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Sort By"
          (onChange)="onSortChange($event)"
          [style]="{ 'min-width': '15em' }"
          class="glow"
        >
        </p-dropdown>
        <span>
          <i class="pi pi-search"></i>
          &nbsp;
          <input
            class="glow"
            type="search"
            pInputText
            placeholder="Search by Name"
            (input)="dv.filter($any($event.target).value, 'contains')"
          />
        </span>
      </div>
    </ng-template> -->

<!-- <ng-template let-order pTemplate="listItem">
      <div class="product-list-item glow">
        <div class="product-list-detail">
          <span class="product-price">Order:</span>
          <span class="product-price-2">{{ order.orderId }}</span>
        </div>

        &nbsp;
        <div class="product-list-action">
          <span class="tx-details">Total Order Items</span>
          <span class="product-price-2">{{ order.totalOrderItem }}</span>
        </div>
        &nbsp;
        <div class="product-list-action">
          <span class="tx-details">Total Quantity</span>
          <span class="product-price-2">{{ order.totalQuantity }}</span>
        </div>
        &nbsp;
        <div class="product-list-action">
          <span class="tx-details">Total Amount</span>
          <span class="product-price-2">${{ order.totalAmount }}</span>
        </div>
        &nbsp;
        <div class="product-list-action">
          <span class="tx-details">Refund?</span>
          <span class="product-price-2">{{ order.voidRefund? '✅' : '❌'}}</span>
        </div>
        &nbsp;
        <div class="product-list-action">
          <span class="tx-details">Delivery Status</span>
          <span class="product-price-2">{{ order.deliveryStatus }}</span>
        </div>
      </div>
    </ng-template> -->
<!-- </p-dataView>
</div> -->

<div class="garmentCard">
  <p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let order of orders" header="Order #{{ order.orderId }}">
      <table>
        <tr>
          <td>
            <div class="product-list-item">      
              <div class="product-list-action">
                <span class="tx-details">Total Order Items</span>
                <span class="product-price-2">{{ order.totalOrderItem }}</span>
              </div>
              &nbsp;
              <div class="product-list-action">
                <span class="tx-details">Total Quantity</span>
                <span class="product-price-2">{{ order.totalQuantity }}</span>
              </div>
              &nbsp;
              <div class="product-list-action">
                <span class="tx-details">Total Amount</span>
                <span class="product-price-2">${{ order.totalAmount }}</span>
              </div>
              &nbsp;
              <div class="product-list-action">
                <span class="tx-details">Refund?</span>
                <span class="product-price-2">{{ order.voidRefund? '✅' : '❌'}}</span>
              </div>
              &nbsp;
              <div class="product-list-action">
                <span class="tx-details">Delivery Status</span>
                <span class="product-price-2">{{ order.deliveryStatus }}</span>
              </div>
              &nbsp;
            </div>
          </td>
          <td>
            <div class="product-list-item" style="margin-left: 15px;">
              <div class="product-list-action">
                <button
                pButton
                label="View Items"
                type="button"
                class="p-button"
                (click)="openLineItemsDialogue()"
                style="margin: 10px;"
              ></button>              
            </div>
              &nbsp;
              <div class="product-list-action">
                <button
                pButton
                label="Open Dispute"
                type="button"
                class="p-button-outlined"
                (click)="openDispute(order)"
                style="margin: 10px;"
              ></button>              
            </div>
              &nbsp;
              <div class="product-list-action">
                <a href="https://forms.gle/h27U9N4vJwzugSRB6" target="_blank">
                  <button
                  pButton
                  label="Rate Us"
                  type="button"
                  class="p-button-outlined"
                  style="margin: 10px;"
                ></button>  
                </a>
            </div>
            </div>
          </td>
        </tr>
      </table>
      <table id="tableProductCatalogue" style="width:100%; cellpadding: 3px; cellspacing: 1px;">
        <thead>
            <tr>				
                <th>Line Item ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th>Unit Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lineItem of order.lineItems">
                <td>{{lineItem.lineItemId}}</td>
                <td>{{lineItem.product?.name}}</td>
                <td>{{lineItem.quantity}}</td>				
                <td>{{lineItem.subTotal}}</td>
                <td>{{lineItem.unitPrice}}</td>
            </tr>
        </tbody>
    </table>
    </p-accordionTab>
    
  </p-accordion>
</div>
