<app-breadcrumb></app-breadcrumb>

<article *ngIf="sessionService.getIsLogin() == false" style="width: 95%;">



<p-fieldset legend="Garment Gardens" >
    Garment Gardens is a one stop platform for you to get onboard the latest fashion trends and do your part for the environment as well. All our vendors have been verified to sell sustainable clothing which have been verified by industry professionals.
</p-fieldset>
<br/>
<p-fieldset legend="Sustainable Fashion">
  Sustainable fashion has been gaining traction in the past 2-3 years, reasonably so. The fashion industry generates and enormouse amount of carbon footprint in the production of apparels. Furthermore, fashion companies that outsource labour to developing countries tend to impact locals negatively, with lower wages and unfair working conditions. More needs to be done to raise awarenes in this industry. 
</p-fieldset>
<br/>
<p-fieldset legend="The impact you can make">
  By buying apparel from garment gardens, you are positively contributing to the environment in the following ways:
  <ul>
    <li>
      Reducing your carbon footprint
    </li>
    <li>
      Ensuring that the apparel you are receiving is not at the expense of the well-being of others
    </li>
    <li>
      Doing your part for the community and supporitng brands pledged to sustainable fashion 
    </li>
    <li>
      Rasing awareness and encouraging the adoption of sustainable apparel
    </li>
  </ul>
</p-fieldset>
<br/>

<!-- <p align="center">
  <video src="assets/media/gif.mp4" loop="true" autoplay="on" width="40%"></video>
</p> -->


</article>

<h1>Message Of The Day</h1>

<div style="width: 95%;">
  <p-tabView >
    <p-tabPanel *ngFor="let motd of messageOfTheDays" header="{{motd.title}}, {{parseDate(motd.messageDate) | date}}">
      <h3>{{motd.message}}</h3>
    </p-tabPanel>
  </p-tabView>
</div>

<br/>

<article *ngIf="sessionService.getIsLogin() == true" style="width: 95%; font-size: larger;" >
  <h1 style="text-align: center;">Everyday Garments for a brighter Garden.</h1>

  <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [autoplayInterval]="3000" [circular]="true">
    <ng-template let-id pTemplate="item">
          <a href="https://savetheearth.org/">
            <figure>
              <img
                class="glow"
                src="assets/images/indexpage{{ id }}.jpeg"
                height="400px"
                width="100%"
              />
            </figure>
          </a>
    </ng-template>
</p-carousel>

<br/>


  <!-- <p-fieldset legend="Welcome">
    What Do You Feel Like Getting Today? 
  </p-fieldset>
  <br/>
  <p-fieldset legend="Rewards">
    Enjoy exclusive rewards and discounts by Shopping with Garment Gardens! 
  </p-fieldset>
  <br/>
  <p-fieldset legend="Donate">
    Want to donate to Garment Gardens Reserves? Contact Us!
  </p-fieldset> -->



</article>
