.banner-container {
    background-color: rgb(76, 82, 87);
}

.banner {
    margin: 0 auto;
    width: 80vw;
    color: black;
}

.banner-title {
    padding-right: 10em;
}

.banner-title h1 {
    margin-top: 0;
}

.banner-img {
    padding: 0;
}

.index-container {
    margin: 1em auto;
    width: 80vw;
}

.product-item {
    text-align: center;
}

.product-img {
    height: 12vw;
}