<p-table [value]="ratings" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        Product {{productId}} Ratings
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Description</th>
            <th>No. of Stars</th>
            <th>Date Of Rating</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rating>
        <tr>
            <td>{{rating.description}}</td>
            <td><p-rating [readonly]="true" [(ngModel)]="rating.numberOfStars" [cancel]="false"></p-rating></td>
            <td>{{parseDate(rating.dateOfRating) | date}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Garment Gardens 2022
    </ng-template>
</p-table>