.dataHeader {
    display: flex;
    justify-content: space-between;
}

.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  margin: 0 0 1rem 0;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.product-category {
  font-weight: 600;
  vertical-align: middle;
}

.product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.product-list-item .img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 15px;
  border-radius: 15px;
}

.product-list-item .product-list-detail {
  flex: 1 1 0;
}

.product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}

.product-list-item .product-price {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-right: 15px;
  align-self: flex-end;
}

.product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

.product-list-item .p-button {
  margin-bottom: 0.5rem;
}

.product-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
  width: 30%;
  display: inline-block;
  background-color: #191919;
}

.product-grid-item .product-grid-item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-grid-item .img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
  border-radius: 15px;
}

.product-grid-item .product-grid-item-content {
  text-align: center;
  overflow: hidden;
  min-height: 550px;
}

.product-grid-item-content .img {
  width: 80%;
}

.product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.card {
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.allProducts {
  padding: 0px 2rem 0px 2rem;
  border-radius: 14px;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .product-list-item {
    flex-direction: column;
    align-items: center;
  }

  .product-list-item .img {
    width: 75%;
    margin: 2rem 0;
  }

  .product-list-item .product-list-detail {
    text-align: center;
  }

  .product-list-item .product-price {
    align-self: center;
  }

  .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }

  .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.boldText {
    font-weight: bold;
}

h1,h2,h3 {
  color: #C5E1A5;
}