/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;700;900&display=swap");

body {
    margin: 0;
    font-family: "Noto Sans SC", "sans-serif";
    font-size: 18px;
    background-color: hsl(133, 9%, 20%);
    color: rgb(255, 255, 255);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}