/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;400;700;900&display=swap");

body {
    margin: 0;
    font-family: "Noto Sans SC", "sans-serif";
    font-size: 18px;
    background-color: hsl(133, 9%, 20%);
    color: rgb(255, 255, 255);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

a {
	text-decoration-line: none;	
}

a:hover {
	text-decoration-line: underline;
    text-decoration-color: #C5E1A5;
	cursor: pointer;
}

.topBar {
    box-shadow: 0 2px 4px 2px #C5E1A5;
    border-radius: 5px;
}

.mainmenu {
	display: block;
    width: 100%;
	margin: 0.5% 0% 0.5% 0%;
	padding: 3px 3px 3px 3px;
	float: left;
}

.content {
	display: block;
	width: 85%;
	float: left;
}

.sidebar {
	display: block;
    margin: 2.5% 0% 0.5% 0%;
	width: 15%;
	float: right;
	text-align: center;
}


.footer {
	display: block;
	margin: 0.5% 0% 0% 0%;
	padding: 3px 3px 3px 3px;
	clear: both;
}

.advertisement {
	margin: 5px 0px 5px 0px;
}

.rowheader {
	font-weight: bold;
}

.dataTable {
    border-style: solid;
    border-width: thin;
}

.breadcrumb {
    display: block;
    width: 100%;
    margin: -2px 0% 10px 0%;
    padding: 3px 3px 3px 3px;
    float: left;
    color: white;    
    font-size: smaller;
}

.sidebar {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.boxSuccessMessage {
    color: greenyellow;
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-color: greenyellow;
    border-width: 2px;
    border-radius: 15px;
}

.boxErrorMessage {
    color: red;
    border-style: solid;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-color: red;
    border-width: 2px;
    border-radius: 15px;
}

.successMessage {
    font-size: smaller;
    color: greenyellow;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
}

.errorMessage {
    font-size: smaller;
    color: red;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
}

.glow {
    box-shadow: 0 2px 4px 2px #C5E1A5;
}

.garmentGreen {
    color:#C5E1A5;
}

.garmentRed {
    color:red;
}

img {
    border-radius: 15px;
}

.garmentCard {
    box-shadow: 0 2px 4px 2px #C5E1A5;
    border-radius: 5px;
    background-color: #252525;
    padding: 15px;
    width: 95%;
    text-align: center;
  }

.size95 {
    width: 95%;
}

.flashsales {
    background-color: #252525;
    padding: 15px;
    margin: 0px;
    width: 95%;
    text-align: center;
    animation-name: flashAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  @keyframes flashAnimation {
    0%   {background-color: rgb(138, 220, 66);}
    25%  {background-color: rgb(178, 178, 18);}
    50%  {background-color: rgb(71, 167, 95);}
    100% {background-color: #C5E1A5;}
  }