<app-breadcrumb [pageName]="'viewProductDetails'"></app-breadcrumb>

<div style="display: inline-flex; align-items: center">
  <a routerLink="/systemAdministration/viewAllProducts" style="color: white; margin: 15px">
    <i class="pi pi-arrow-circle-left"></i>
  </a>
  <h2>View Product Details</h2>
</div>

<div>
  <h1 *ngIf="retrieveProductError === true" style="color: red">
    Product ID {{ productId }} does not exist!
  </h1>
</div>

<div *ngIf="showMessage && error === false" class="boxSuccessMessage">
  {{ errorMessage }}
</div>

<div *ngIf="showMessage && error === true" class="boxErrorMessage">
  {{ errorMessage }}
</div>
<br />

<table
  *ngIf="retrieveProductError === false && productToView !== null"
  width="100%"
>
  <tr>
    <td width="40%" style="text-align: center">
      <img class="img" src="{{ productToView.imageLink }}" />

      <div
        style="color: blanchedalmond"
        *ngIf="recommendedSize === undefined"
        style="display: inline-block"
      >
        Unsure of your size? Try our Sizing Assistant
        <p-button
          style="border-radius: 10px"
          (onClick)="displayDialogBox()"
          label="?"
        >
        </p-button>
      </div>

      <p-dialog [(visible)]="displayDialog">
        <app-sizing-assistant></app-sizing-assistant>
      </p-dialog>

      <div style="color: blanchedalmond" *ngIf="recommendedSize !== undefined">
        Your recommended size is {{ recommendedSize }}
      </div>
      <div>
        <b>Size: </b>
        <p-dropdown [options]="sizes" [(ngModel)]="selectedSize"></p-dropdown>
      </div>
      <div
        *ngIf="
          sessionService.getIsLogin() &&
          this.role === 'SELLER' &&
          retrieveProductError === false &&
          productDeleted === false
        "
        style="margin: 15px 0px 15px 0px"
      >
        <a routerLink="/systemAdministration/updateProduct/{{ productId }}"
          ><button
            pButton
            type="button"
            class="p-button-rounded p-button-outlined"
            value="Register"
          >
            Update
          </button>
        </a>
        &nbsp;
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-outlined"
          value="Register"
          style="color: red"
          (click)="confirm()"
        >
          Delete
        </button>
      </div>
      <div
        *ngIf="
          (role === undefined || role === 'CUSTOMER') &&
          retrieveProductError == false &&
          productDeleted == false
        "
        style="margin: 15px 0px 15px 0px"
      >
        <input
          pInputText
          placeholder="1"
          id="username"
          type="text"
          name="username"
          #username="ngModel"
          [(ngModel)]="qtyToAdd"
          required="true"
        />
      </div>
      <div
        *ngIf="
          (role === undefined || role === 'CUSTOMER') &&
          retrieveProductError == false &&
          productDeleted == false
        "
      >
        <button
          pButton
          icon="pi pi-shopping-cart"
          label="Add To Cart"
          type="button"
          class="p-button"
          (click)="addToCart()"
        ></button>
      </div>
    </td>
    <td>
      <div class="garmentCard">
        <table style="text-align: center">
          <tr>
            <td width="20%" style="font-weight: bold">Product ID</td>
            <td>{{ productToView.productId }}</td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">SKU Code</td>
            <td>{{ productToView.skuCode }}</td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">Name</td>
            <td>{{ productToView.name }}</td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">Description</td>
            <td>{{ productToView.description }}</td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">Quantity On Hand</td>
            <td>{{ productToView.quantityOnHand }}</td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">Unit Price</td>
            <td>{{ productToView.unitPrice | currency }}</td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">Average Product Rating</td>
            <td>
              <p-rating
                [ngModel]="productToView.productRating"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">Category</td>
            <td>
              {{
                productToView.category != null
                  ? productToView.category.name
                  : ""
              }}
            </td>
          </tr>
          <tr>
            <td width="20%" style="font-weight: bold">Tag(s)</td>
            <td>
              <div *ngFor="let tag of productToView.tags">{{ tag.name }}</div>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<br />

<div class="garmentCard" style="width: 96.75%">
  <app-view-all-ratings></app-view-all-ratings>
</div>

<p-dialog
  position="top"
  [(visible)]="loginDialogue"
  [style]="{ width: '50vw' }"
>
  <h1 style="color: red">Please Login!</h1>
</p-dialog>
