<app-breadcrumb [pageName]="'viewProductDetails'"></app-breadcrumb>
			
<h3>View Product Details</h3>
<br/>
    
<span *ngIf="retrieveProductError == true" style="color:red;">Product ID {{productId}} does not exist!</span>		

<div *ngIf="retrieveProductError == false">
    <a routerLink="/systemAdministration/viewSellerProducts">Back</a> | 	
    <a routerLink="/systemAdministration/updateProduct/{{productId}}">Update</a> | 		
    <a routerLink="/systemAdministration/deleteProduct/{{productId}}">Delete</a>
</div>
<br/>	

<table *ngIf="retrieveProductError == false && productToView != null" width="100%">
    <tr>
        <td width="20%" style="font-weight: bold;">Product ID</td>
        <td>{{productToView.productId}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">SKU Code</td>
        <td>{{productToView.skuCode}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">Name</td>
        <td>{{productToView.name}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">Description</td>
        <td>{{productToView.description}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">Quantity On Hand</td>
        <td>{{productToView.quantityOnHand}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">Unit Price</td>
        <td>{{productToView.unitPrice | currency}}</td>
    </tr>		
    <tr>
        <td width="20%" style="font-weight: bold;">Product Rating</td>
        <td>{{productToView.productRating}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">Category</td>
        <td>{{(productToView.category != null)?(productToView.category.name):('')}}</td>
    </tr>
    <tr>
        <td width="20%" style="font-weight: bold;">Tag(s)</td>
        <td>
            <ul style="margin-left: 20px;">
                <li *ngFor="let tag of productToView.tags">{{tag.name}}</li>
            </ul>
        </td>
    </tr>
    
</table>